{% extends "main.html" %}

{% block tabs %}
{{ super() }}
<!-- <section class="mdx-container">
    <div class="md-grid md-typeset">
        <div class="mdx-hero">
            <div class="mdx-hero__content">
                <h1>欢迎使用 TensorStack AI 平台</h1>
                <p>TensorStack AI 平台是云原生、企业级（高可靠、高扩展、高性能、强安全）、全栈的 AI 平台，支持公有（public）和私有（on-prem）云环境部署。</p>
                <p>本平台为构建和部署 AI 应用程序提供先进的端到端支持，包括用于大规模数据处理、模型训练、超参数调优、实验跟踪、模型推理以及综合监控和警报的服务。</p>
            </div>
        </div>
    </div>
</section> -->

<div class="md-grid md-typeset">
    <br>
    <br>
    <h1>欢迎使用 TensorStack AI 平台</h1>

    <p>TensorStack AI 平台是集群计算基础设施软件，针对 AI 领域计算任务的特性和需求，提供稳定、可扩展的 AI 技术平台层，服务于 AI 技术规模化落地。</p>

    <p>平台提供如下核心功能：</p>
    <ul>
        <li>AI 研究、开发、部署的全流程支持，包括数据准备、模型构建、模型训练和调优、实验管理、模型部署、自动化工作流等；并且可以方便地集成第三方工具和服务。</li>
        <li>完善的集群计算支持，包括分布式并行任务抽象、复杂工作流管理、资源池化、高级的调度策略、安全策略等。</li>
        <li>现代化的运维系统，保障计算任务的长期可靠运行。</li>
    </ul>
</div>

{% endblock %}

{% block content %}{% endblock %}
